@import '../../main.scss';

.video-page-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr min-content;
    align-items: center;
    justify-items: center;

    .topic-list {
        grid-column: 1;
        grid-row: 1;
        width: 90%;
        height: 90%;
        padding: 0em 1em;
    }

    .leave-button {
        grid-column: 1;
        grid-row: 2;
        background-color: red;
        padding: 1em;
        margin-bottom: 2em;
    }

    .video-frame {
        grid-column: 2;
        grid-row: 1;
        width: 90%;
        height: 90%;
    }

    .video-timer {
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 2em;
    }
}
